@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root {
    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text);
    background-color: var(--crust);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-tap-highlight-color: transparent;
    user-select: none;

    --status-bar-height: env(safe-area-inset-top, 24px);
    --nav-bar-height: env(safe-area-inset-bottom, 48px);

    /*Color palette*/
    --red: rgb(243, 139, 168);
    --mauve: rgb(203, 166, 247);
    --pink: rgb(245, 194, 231);
    --flamingo: rgb(242, 205, 205);
    --rosewater: rgb(245, 224, 220);
    --maroon: rgb(235, 160, 172);
    --peach: rgb(250, 179, 135);
    --yellow: rgb(249, 226, 175);
    --green: rgb(166, 227, 161);
    --teal: rgb(148, 226, 213);
    --sky: rgb(137, 220, 235);
    --sapphire: rgb(116, 199, 236);
    --blue: rgb(137, 180, 250);
    --lavender: rgb(180, 190, 254);
    --text: rgb(205, 214, 244);
    --subtext-0: rgb(166, 173, 200);
    --subtext-1: rgb(186, 194, 222);
    --overlay-0: rgb(108, 112, 134);
    --overlay-1: rgb(127, 132, 156);
    --overlay-2: rgb(147, 153, 178);
    --surface-0: rgb(49, 50, 68);
    --surface-1: rgb(69, 71, 90);
    --surface-2: rgb(88, 91, 112);
    --base: rgb(30, 30, 46);
    --mantle: rgb(24, 24, 37);
    --crust: rgb(17, 17, 27);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(24px, 2.5vw, 64px);
}

.code-font {
    font-family: Funnel Display, Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: clamp(28px, 5vw, 64px);
}

.info {
    span {
        display: ruby;
    }
    img {
        display: block;
    }
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    background-color: var(--mantle);
    border-radius: 25px;
    padding: 42px;

    .description {
        font-size: clamp(20px, 1.5vw, 48px);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 20px;
    height: 100vh;
    padding: 0 20px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;

    * {
        margin: 0.4rem 0;
    }
}

.blue-strong {
    color: var(--blue);
    font-weight: bolder;
    filter: drop-shadow(0 0 10px rgba(0, 151, 230, 0.5));
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 10px;
}

p {
    font-size: clamp(24px, 1.5vw, 28px);
    margin: 0;
}

a {
    font-size: clamp(24px, 1.5vw, 38px);
    color: rgba(255, 255, 255, 0.9);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 25px;
    color: var(--text);
    text-decoration: none;
    border-radius: 15px;
    background: var(--crust);
    cursor: pointer;
    font-size: clamp(18px, 3vw, 28px);
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.1s ease;
    opacity: 1;
}

.btn:active {
    opacity: 0.8;
}

.btn-text {
    flex: 1;
    text-align: center;
    text-wrap: nowrap;
}

.btn-icon-left {
    height: clamp(24px, 3vw, 30px);
}

.btn-icon-right {
    height: 20px;
}

.download-btn {
    color: var(--mantle);
    background-color: var(--green);
}

.build-btn {
    color: var(--mantle);
    background-color: var(--lavender);
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.title {
    width: 100%;

    h1 {
        margin: 10px 0 ;
        font-weight: 900;
    }

    .slogan {
        margin: 0;
        font-size: clamp(24px, 1.5vw, 28px);
    }
}

@media screen and (max-width: 640px) {
    .project {
        padding: 20px;
    }
}

@media screen and (max-width: 400px) {
    .project {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        justify-content: space-between;
        background: transparent;
    }
}

hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;

    a img {
        height: clamp(25px, 3.5vw, 40px);
    }
}

.hide {
    opacity: 0 !important;
    filter: blur(5px);
    transition: all 0.5s ease;
}

.show {
    opacity: 1 !important;
    filter: blur(0);
}

@media screen and (max-width:480px)  {
    .hide {
        transition: none !important;
    }

    .info-box {
        display: flex;
        flex-direction: column;
        gap: 0 !important;
        .info {
            margin: 0;
        }
    }
}

@media screen and (max-width: 567px) and (min-width: 480px) {
    .info-box {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (prefers-reduced-motion) { .hide {transition: none !important} }
