@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body {
    background: #1a1919;
    color: rgba(255, 255, 255, 0.9);
    font-family: Funnel Display, Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(24px, 2.5vw, 64px);
    user-select: none;
}

h1 {
    font-size: clamp(28px, 5vw, 64px);
}

.info {
    span {
        display: ruby;
    }
    img {
        vertical-align: middle;
        display: block;
    }
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 20px;
    height: 100vh;
    padding: 0 20px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;

    * {
        margin: 0.4rem 0;
    }
}

.blue-strong {
    color: #0093EC;
    font-weight: bolder;
    filter: drop-shadow(0 0 10px rgba(0, 151, 230, 0.5));
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 10px;
}

p {
    font-size: clamp(24px, 1.5vw, 28px);
    margin: 0;
}

a {
    font-size: clamp(24px, 1.5vw, 38px);
    color: rgba(255, 255, 255, 0.9);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(0, 111, 230, 0.9);
    transition: background-color 0.3s ease;
    border: transparent 2px solid;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 94, 194, 0.8);
        border: rgba(0, 111, 230, 0.5) 2px solid;
    }

    &:active {
        background-color: rgba(0, 111, 230, 0.5);
        border: rgba(0, 94, 194, 0.5) 2px solid;
    }
}

.love {
    font-size: clamp(16px, 3vw, 38px);
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.title {
    width: 100%;

    h1 {
        margin: 10px 0 ;
        font-weight: 900;
    }

    .slogan {
        margin: 0;
        font-size: clamp(24px, 1.5vw, 28px);
    }
}

@media screen and (max-width: 512px) {
    .project {
        padding: 20px;
    }
}

@media screen and (max-width: 400px) {
    .project {
        padding: 10px;
    }
}

@media screen and (min-width: 512px) {
    .project {
        padding: 30px;
    }
}

hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;

    a img {
        height: clamp(25px, 3.5vw, 40px);
    }
}

.hide {
    opacity: 0 !important;
    filter: blur(5px);
    transition: all 0.5s ease;
}

.show {
    opacity: 1 !important;
    filter: blur(0);
}

@media screen and (max-width: 550px) {
    .cards {
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .cards {
        width: 300px;
    }
}

@media screen and (max-width:480px)  {
    .hide {
        transition: none !important;
    }

    .info-box {
        display: flex;
        flex-direction: column;
        gap: 0 !important;
        .info {
            margin: 0;
        }
    }
}
@media screen and (prefers-reduced-motion) { .hide {transition: none !important} }
