body {
    background: #0093EC;
    background: radial-gradient(at center, #0098f1, #0092ec);
    color: rgba(255, 255, 255, 0.9);
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(24px, 2.5vw, 64px);
    user-select: none;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 512px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 620px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 512px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    * {
        margin: 0;
    }
}

p {
    font-size: clamp(24px, 1.5vw, 28px);
}
a {
    font-size: clamp(24px, 1.5vw, 38px);
    color: rgba(255, 255, 255, 0.9);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(0, 111, 230, 0.5);
    transition: background-color 0.3s ease;
    border: transparent 2px solid;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 94, 194, 0.5);
        border: rgba(0, 111, 230, 0.5) 2px solid;
    }

    &:active {
        background-color: rgba(0, 111, 230, 0.5);
        border: rgba(0, 94, 194, 0.5) 2px solid;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
    text-align: center;
}

.title {
    width: 100%;

    h1 {
        margin: 10px 0 ;
    }

    .slogan {
        margin: 0;
        font-size: clamp(24px, 1.5vw, 28px);
    }
}

@media screen and (max-width: 512px) {
    .project {
        padding: 20px;
    }
}

@media screen and (max-width: 400px) {
    .project {
        padding: 10px;
    }
}

@media screen and (min-width: 512px) {
    .project {
        padding: 30px;
    }
}

hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;

    a img {
        height: clamp(25px, 3.5vw, 40px);
    }
}

.glow:hover {animation: ease glow 1s infinite;}
.blue-glow:hover {animation: ease blue-glow 1s infinite;}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
    50% {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
    }
    100% {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
}

@keyframes blue-glow {
    0% {
        filter: drop-shadow(0 0 10px rgba(0, 151, 230, 0.5));
    }
    50% {
        filter: drop-shadow(0 0 10px rgba(0, 151, 230, 1));
    }
    100% {
        filter: drop-shadow(0 0 10px rgba(0, 151, 230, 0.5));
    }
}

.hide {
    opacity: 0 !important;
    filter: blur(5px);
    transition: all 0.5s ease;
}

.show {
    opacity: 1 !important;
    filter: blur(0);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    min-width: 170px;
    max-width: 100%;
    text-align: center;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        span {
            font-size: clamp(24px, 2.5vw, 36px);
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
}

@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .projects {
        max-width: 100%;
        text-align: center;
    }

    .developer, .social {
        max-width: 100%;
        text-align: center;
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card {
        padding: 10px;
    }
}
