@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body {
    background: #1a1919;
    color: rgba(255, 255, 255, 0.9);
    font-family: Inter, ui-sans-serif, "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(24px, 2.5vw, 64px);
    user-select: none;
}

.code-font {
    font-family: Funnel Display, Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif
}

h1 {
    font-size: clamp(28px, 5vw, 64px);
}

.info {
    span {
        display: ruby;
    }
    img {
        vertical-align: middle;
        display: block;
    }
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.04) 100%);
    border-radius: 25px;
    padding: 42px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    .description {
        font-size: clamp(20px, 1.5vw, 48px);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 20px;
    height: 100vh;
    padding: 0 20px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;

    * {
        margin: 0.4rem 0;
    }
}

.blue-strong {
    color: #0093EC;
    font-weight: bolder;
    filter: drop-shadow(0 0 10px rgba(0, 151, 230, 0.5));
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 10px;
}

p {
    font-size: clamp(24px, 1.5vw, 28px);
    margin: 0;
}

a {
    font-size: clamp(24px, 1.5vw, 38px);
    color: rgba(255, 255, 255, 0.9);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: clamp(18px, 3vw, 28px);
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.05s ease;
    opacity: 1;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.btn:active {
    opacity: 0.8;
}

.btn-text {
    flex: 1;
    text-align: center;
    text-wrap: nowrap;
}

.btn-icon-left {
    height: clamp(24px, 3vw, 30px);
}

.btn-icon-right {
    height: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.title {
    width: 100%;

    h1 {
        margin: 10px 0 ;
        font-weight: 900;
    }

    .slogan {
        margin: 0;
        font-size: clamp(24px, 1.5vw, 28px);
    }
}

@media screen and (max-width: 640px) {
    .project {
        padding: 20px;
    }
}

@media screen and (max-width: 400px) {
    .project {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        justify-content: space-between;
        background: #00000000;
        padding: 20px 0 10vh 0; !important;
    }

    body {
        overflow: hidden;
    }
}

hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;

    a img {
        height: clamp(25px, 3.5vw, 40px);
    }
}

.hide {
    opacity: 0 !important;
    filter: blur(5px);
    transition: all 0.5s ease;
}

.show {
    opacity: 1 !important;
    filter: blur(0);
}

@media screen and (max-width:480px)  {
    .hide {
        transition: none !important;
    }

    .info-box {
        display: flex;
        flex-direction: column;
        gap: 0 !important;
        .info {
            margin: 0;
        }
    }
}

@media screen and (max-width: 567px) and (min-width: 480px) {
    .info-box {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (prefers-reduced-motion) { .hide {transition: none !important} }
